body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8c2c2;
}

h1 {
    color: #5f381e;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 2px;
    width: fit-content;
    margin: 20px auto;
    border: 3px solid #333;
    padding: 5px;
    background-color: white;
}

.candy {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: 0.2s;
}

/* Candy Colors */
.red { background-color: red; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.purple { background-color: purple; }
.orange { background-color: orange; }
